*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 0;*/
	text-decoration: none;
}
body{
	background: #FFEFBA;  
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  
	background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
}
.row{
	margin: 0 !important;
	padding: 0 !important;
}

.container-fluid{
	padding: 0 !important
}

header{
	background: #215f00;  
	background: -webkit-linear-gradient(to top, #e4e4d9, #215f00);  
	background: linear-gradient(to top, #e4e4d9, #215f00); 
	border-bottom: 2px solid ;
	box-shadow: 10px 10px 25px #2D4F33;
}

.title, .text{
	font-size: 35px;
	color: white;
	margin-left: 50px;
	font-family: 'Merienda', cursive;
	text-shadow: 3px 3px 5px black
}
.nav-link{
	font-size: 25px;
	font-family: 'Kalam', cursive;
	margin-left: 50px;
	text-shadow: 2px 2px 5px black;
}

/*#slider{
	width: 100%;
	height: 700px;
	overflow: hidden;
}
#slider .slides{
	display: block;
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 0;
}
#slider .slide{
	width: inherit;
	height: 700px;
	float: left;
	list-style-type: none;
	background-color: red

}
#slider .slide img{
	width: inherit;;
	height: inherit;
}

*/
.slider{
	width: 100%;
	height: 700px;
	position: relative;
	overflow: hidden;
}
.slider img{
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.active{
	display: block !important
}
/*.active{
	-webkit-animation: rightToleft .6s linear;
	-o-animation: rightToleft .6s linear;
	animation: rightToleft .6s linear;
}

.active-left{
	-webkit-animation: leftToright .6s linear;
	-o-animation: leftToright .6s linear;
	animation: leftToright .6s linear;
}*/


@keyframes  rightToleft{
	from{
		transform: translateX(50%);
		opacity: .5;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes  leftToright{
	from{
		transform: translateX(-50%);
		opacity: .5;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}

.btn{
	width: 100%;
	position: absolute;
	top: 400px;
	z-index: 30000
}

.next, .prev{
	width: 100px;
	height: 40px;
	position: absolute;
	box-shadow: 5px 5px 20px;
	background-color: transparent; 
	transform: skew(-30deg);
	right: 40px ;
	font-size: 25px;
	font-family: 'Kalam', cursive;
	font-weight: bold;
	color: white;
	border-radius: 15px;
	text-shadow: 3px 3px 5px black;
	cursor: pointer;
}

/*.carousel-control-next-icon{
	width: 150px
}*/
.prev{
	left: 20px;
	transform: skew(30deg);

}
.prev:focus, .next:focus{
	outline: none;
}
.typeing{
	width: 100%;
	height: 100px;
	background: #DAE2F8;  
	background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8);  
	background: linear-gradient(to left, #D6A4A4, #DAE2F8); 
	padding-top: 20px;
	box-shadow: 10px 10px 15px;
	box-sizing: border-box;
}
.text{
	overflow: hidden; 
  	white-space: nowrap; 
  	margin: 0 auto; 
  	letter-spacing: .15em; 
  	animation: typing 7s steps(40, end) infinite, blink 7s step-end infinite;
}
.block{
	padding-top: 50px;
}

.title1{
	font-size: 50px;
	text-align: center;
	font-family: 'Merienda', cursive;
	font-weight: bold;
	text-shadow: 3px 3px 5px #C49DC7;

}
.box{
	margin-left: 20px;
	padding-top: 20px;
}
img{
	width: 100%;
	height: 350px;
	cursor: pointer;
}
.box1{
	background: #DAE2F8;  
	background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8);  
	background: linear-gradient(to left, #D6A4A4, #DAE2F8); 
	border-bottom: 2px dotted;
	padding-top: 10px;
}
.box2{
	padding-top: 10px;
	background: #DAE2F8;  
	background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8);  
	background: linear-gradient(to left, #D6A4A4, #DAE2F8);
	box-shadow: 10px 10px 15px #664D65; 
	box-sizing: border-box;
}
.box3{
	padding-top: 100px
}
.box4,.box5{
	margin-top: 100px;
	margin-left: 50px;
}
.box5{
	height: 450px
}
.deffer{
	padding-top: 20px;
	box-shadow: 0 0 25px #745E72;
	margin-bottom: 50px
}
.img{
	box-shadow: 0 0 25px #745E72
}

.minus, .plus{
	width: 50px;
	height: 30px;
	background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8);  
	background: linear-gradient(to left, #D6A4A4, #DAE2F8);
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 25px #745E72
}
.minus:focus,.plus:focus,{
	outline: none !important;
}
.text1, .text2{
	font-size: 25px;
	font-family:'Merienda', cursive;
}

.text2{
	color: white;
	text-shadow: 2px 2px 5px black
}

footer{
	/* height: 100px; */
	background: #215f00;  /
	background: -webkit-linear-gradient(to top, #e4e4d9, #215f00);  
	background: linear-gradient(to top, #e4e4d9, #215f00); 
	border-top: 2px solid;
	margin-top: 50px;
	text-align: center
}
footer a, .icon{
	font-size: 30px;
	margin-left: 20px;
	transition: 2s;
	color: black								
}
footer a:hover{
	color: black;
	text-decoration: none;
}
.info{
	font-size: 15px;
	font-weight: bold;
	padding: 0;
	margin-left: 5px
}





@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink{
  from, to { border-color: transparent }
  0% { border-color: #2B2313; }
  100% { border-color: #2B2313; }
 
 }


